.home-team .container
{
  max-width: 70%;
  display: block;
  margin: 0px auto;
  margin-bottom: 2em;
}
.home-team
{
  width: 100%;
  margin: 2em 0em;
}
.item>a>img
{
  transition: 0.5s;
    max-width: 100%;
    min-width: 100%;
    vertical-align: middle;
}
.item>a>img:hover
{
  transition: 0.5s;
  transform: scale(1.2);

}
.item>a
{
  vertical-align: middle;
}
.item
{
  padding: 0.5em;
  min-width: 9% !important;
  vertical-align: middle;
  margin-right: 1em;
}



@media screen and (max-width: 900px) and (min-width: 600px) {

.item
{
  min-width: 15% !important;
}

}/* meadia */

@media screen and (max-width: 599px){

.item
{
  max-width: 26% !important;
  float:left;
}
.item>a>img
{
    max-width: 100%;
    min-width: 100%;
    vertical-align: middle;
}

}/* meadia */
