<!-- <div *ngFor = "let ladder of ladderdata">
<p>{{ladder['team']}}</p>
<p>{{ladder['percentage']}}</p>
<p>{{ladder['rank']}}</p>
<p>{{ladder['source']}}</p>
</div> -->


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>TeamName</th>
      <th>Percentage</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor= "let ladder of ladderdata; let i=index" >
      <!-- <p>index {{addidx()}}</p> -->
      <ng-container *ngFor = "let ladder2 of ladderdata">
        <tr *ngIf = "ladder2.rank == i+1">
          <td>{{ladder2.team}}  </td>
          <td>{{ladder2.percentage}} </td>
          <td>{{ladder2.rank}} </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
