<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Englebert|Finger+Paint|Kurale|Princess+Sofia|Sacramento|The+Girl+Next+Door&display=swap" rel="stylesheet">
<nav class= "nav-container">
<ul class="home-container">
  <li><i class="fas fa-home"> <a routerLink="/">Home</a></i></li>
</ul>
<ul class = "right-container">
<li><i class="fas fa-football-ball"> <a href=""> Teams </a></i></li>
<li><i class="fas fa-football-ball"> <a href="#"> Matches</a></i></li>
  <li><i class="fas fa-football-ball"> <a href="#"> Scoreboard </a></i></li>
  <li><i class="fas fa-football-ball"> <a href="#"> Results </a></i></li>
  <li><i class="fas fa-football-ball"> <a href="#"> Stadiums </a></i></li>
  <li><i class="fas fa-football-ball"> <a href="#"> About </a></i></li>
</ul>
</nav>

   <router-outlet></router-outlet> 

