<div class="row home-news noMargin">
  <div class="container">
    <h1 class="text-center">Latest News</h1><br>
    <div class="col-lg-4 noPadding blog-div">
      <a href="https://www.afl.com.au/news/2019-06-02/saints-forced-into-two-late-changes-for-shanghai-clash" target="_blank"><img src="https://s.afl.com.au/staticfile/AFL%20Tenant/AFL/JonoMarshjune2.jpg"  class="img-responsive"></a>
      <h4>Saints lose two defenders to illness for Shanghai clash</h4>
      <p>ILLNESS has ruled out St Kilda defensive pair Daniel McKenzie and Jonathon Marsh for Sunday afternoon's clash with Port Adelaide at Adelaide Arena at Jiangwan Stadium in Shanghai.</p>
    </div>

    <div class="col-lg-4 noPadding blog-div">
      <a href="https://www.afl.com.au/news/2019-06-02/i-was-just-freaking-out-second-saint-reveals-corkie-ordeal" target="_blank"><img src="https://s.afl.com.au/staticfile/Samples/679994-tls169imagemedium.jpg"  class="img-responsive"></a>
      <h4>I was just freaking out': Second Saint's night of corkie drama</h4>
      <p>THE STORY of St Kilda skipper Jarryn Geary's compartment syndrome ordeal, which saw him undergo three surgeries in a week in the wake of the round five win against Melbourne, is well known.</p>
    </div>

    <div class="col-lg-4 noPadding blog-div">
      <a href="https://www.afl.com.au/news/2019-06-01/match-report-brisbane-v-hawthorn" target="_blank"><img src="https://s.afl.com.au/staticfile/AFL%20Tenant/lions010619.jpg"  class="img-responsive"></a>
      <h4>Lions overcome slow start to hunt down Hawks</h4>
      <p>BRISBANE took Hawthorn's best punch, wobbled and eventually landed a knockout blow of their own to earn a crucial four premiership points at the Gabba on Saturday night.</p>
    </div>
  </div>
</div>
