
.button-1{
    display:flex;
    flex-direction: row-reverse;
    margin-right:50px;
    margin-top:10px;
    margin-bottom:10px;


    
}
.heading{
    display:flex;
    border-style:solid;
    border-color:blue;
    background-color:rgb(243, 49, 49);
    justify-content: center;
    padding:10px;

}
h3{
    color:white;
}

img{
    width:60px;
    height:60px;
}

.first-item{
    margin-left:50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
.box{
    /* border-style:solid;  */
    width:15rem;
    height:18rem;
    text-align: center;
    margin:20px;
    padding-top:10px;
    /* border-color:blue; */
}
.round{
     border-radius: 100%; 
     background-color:red;
     color:white;
     border-color:blue;
     border-style:solid;
     border-width:medium;
     font-size: 20px;
     padding-left:0px;
     margin:0px;
}