
<!-- <div class = "teamcontainer"> -->
 
  <div class="button-1">
  <button class ="btn btn-primary" (click) ="upcomingMatch()">{{buttonName}}</button>
  </div>

  <div *ngIf="completed">

    <div class ="heading">
      <h3>Matches Played by {{teamName}} this Season 2019</h3>
    </div>

  <div class="first-item">
  <div *ngFor = "let game of games">
   <div  class = "box border border-primary" *ngIf ="(game['ateam']) ==  teamName && game['ascore'] !='0'"> 
     <p> <span class="round"> Round:{{game['round']}} </span> </p>
     <p>{{game['date'] | date}}</p>   
       <p> <img src="{{getLogo(game['ateam'])}}" alt="Card image cap"> ({{game['ascore']}})
        <img src="{{getLogo(game['hteam'])}}" alt="Card image cap"> ({{game['hscore']}})
       </p>
        <p>{{game['ateam']}} vs {{game['hteam']}}
        </p>
        <p> Winner: {{game['winner']}}</p>
    </div>
    <div class = "box border border-primary" *ngIf ="(game['hteam']) ==  teamName && game['ascore'] !='0'"> 
        <p> <span class="round"> Round:{{game['round']}} </span> </p>
        <p>{{game['date'] | date}}</p>   
          <p> <img src="{{getLogo(game['hteam'])}}" alt="Card image cap"> ({{game['hscore']}})<img src="{{getLogo(game['ateam'])}}" alt="Card image cap"> ({{game['ascore']}})
          </p>
           <p>{{game['hteam']}} vs {{game['ateam']}}
           </p>
           <p> Winner: {{game['winner']}}</p>
       </div>
    </div>
    </div>
       
  </div>
    
<div *ngIf="!completed">
<div class ="heading">
    <h3>Upcoming Matches of {{teamName}} this Season 2019</h3>
  </div>

<div class="first-item">
<div *ngFor = "let game of games">
 <div  class = "box border border-primary" *ngIf ="(game['ateam']) ==  teamName && game['complete'] =='0'"> 
   <p> <span class="round"> Round:{{game['round']}} </span> </p>
   <p>{{game['date'] | date}}</p>   
     <p> <img src="{{getLogo(game['ateam'])}}" alt="Card image cap"> ({{game['ascore']}})
      <img src="{{getLogo(game['hteam'])}}" alt="Card image cap"> ({{game['hscore']}})
     </p>
      <p>{{game['ateam']}} vs {{game['hteam']}}
      </p>
      <p> Venue: {{game['venue']}}</p>
  </div>
  <div class = "box border border-primary" *ngIf ="(game['hteam']) ==  teamName && game['complete'] =='0'"> 
      <p> <span class="round"> Round:{{game['round']}} </span> </p>
      <p>{{game['date'] | date}}</p>   
        <p> <img src="{{getLogo(game['hteam'])}}" alt="Card image cap"> ({{game['hscore']}})<img src="{{getLogo(game['ateam'])}}" alt="Card image cap"> ({{game['ascore']}})
        </p>
         <p>{{game['hteam']}} vs {{game['ateam']}}
         </p>
         <p> Venue: {{game['venue']}}</p>
     </div>
  </div>
  </div>

</div>
